html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    -ms-touch-action: none !important;
    touch-action: none !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0 none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

*, *:focus, *:active, *:hover {
    outline: none;
    outline-width: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#splashImage_landscape {
    visibility: hidden;
    display: none;
    outline: none;
}

#splashImage_portrait {
    visibility: hidden;
    display: none;
    outline: none;
}

#loading {
    display: table;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:100%;
    width:100%;
    z-index:1 !important;
    background-color: rgba(0, 0, 0, 0.75);
    table-layout:fixed;
}

#loading td {
    text-align: center;
    vertical-align: middle;
}

.os-win, .os-winp {
    background-color: black;
}

.area-map {
    outline: none;
}

@keyframes mymove2 {
    0% {opacity: 0; transform: scale(0,0);}
	100% {opacity: 1; transform: scale(1,1);}
}
